.container {
	padding: 2em;
}
button {
	color: white;
	background-color: #A82A3B;
	padding: 10px;
	align: center;
}
section {
	display: flex;
	flex-flow: row wrap;
	text-align: center;
	color: #fff;
	font-size: 1.25em;
	font-family: Arial;
}
img {
	width: 100%;
	max-heigh: 48%;
}

p {
	font-family: Arial Narrow;
	line-height: 1.25;
	font-size: 1em;
	padding: 1em;
}
.AboutMe {
	background: #8B8283;
	text-align: center;
	color: white;
}
.favoriteMovies {
	background: #A82A3B;
	padding: 3.5em;
}
.favoriteBook {
	background: #21252F;
	padding: 3.5em;
}
h1 {
	text-align: center;
	font-family: Helvetica;
	font-size: 2em;
	
}
.lovedoes, .Elf, .lalaland, .bridesmaids {
	width: 70%;
	height: 70%;
}

@media (min-width: 600px) {
	section { 
	display: flex;
	flex-flow: row wrap;
		justify-content: space-around;
		
  }
	text-align: center;}
	.AboutMe {
		width: 100%;
	}
	.favoriteMovies {
		width: 100%;
	}
	.favoriteBook {
		width: 100%;
	}
	p {
		font-size: 1em;
}
button {
	align: center;
}
